@media 
body{
  background-color:#222;
}
.zp_center{
            width: 300px; 
            background-color:#ddd; 
            color: #fff; 
            padding: 10px;
            margin:10px; 
            border-radius: 0.2cm;
        }
        .zp_header{
            font-family: 'Times New Roman', Times, serif;
            color:#ddd;
            font-size: 0.7cm;
        }
        hr{
            border-bottom: 1px solid darkslategray;
        }
